{% extends 'common/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <h1 class="h3 mb-4"><i class="bi bi-shield-lock"></i> Change Password</h1>

        <div class="card shadow-sm">
            <div class="card-body django-form">
                <form method="post">
                    {% csrf_token %}
                    {% include 'common/partials/form-errors.html' %}
                    {{ form.as_p }}
                    <div class="d-flex gap-2 mt-3">
                        <button class="btn btn-primary" type="submit">Update password</button>
                        <a class="btn btn-outline-secondary" href="{% url 'profile-edit' %}">Back to profile settings</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

