{% extends 'common/base.html' %}

{% block content %}
    <h1>My Bookings</h1>

    {% if bookings %}
        <ul>
            {% for booking in bookings %}
                <li>
                    <a href="{% url 'booking-detail' booking.pk %}">{{ booking.offer.title }}</a>
                    &mdash; {{ booking.preferred_date|date:"d M Y, H:i" }}
                    &mdash; <strong>{{ booking.status }}</strong>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no bookings yet. <a href="{% url 'offer-list' %}">Browse offers</a> to get started.</p>
    {% endif %}
{% endblock %}

